[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
pillow = "*"
torchvision = "*"
scipy = "*"
scikit-image = "*"
scikit-learn = "*"
matplotlib = "*"
mesh-to-sdf = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.12"
